<!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
<script>
// adapt classie for animated header and bootswatch
$('.navbar-fixed-top').addClass('cbp-af-header');
var removeOrig = classie.remove;
var addOrig = classie.add;
classie.remove = function(elem, c) {
    if (c == 'cbp-af-header-shrink') {
        removeOrig(elem, 'navbar-shrink');
    }
    removeOrig(elem, c);
};
classie.add = function(elem, c) {
    if (c == 'cbp-af-header-shrink') {
        addOrig(elem, 'navbar-shrink');
    }
    addOrig(elem, c);
};
</script>

<script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>
<script>
$('div.modal').on('show.bs.modal', function() {
    var modal = this;
    var hash = modal.id;
    window.location.hash = hash;
    window.onhashchange = function() {
        if (!location.hash){
            $(modal).modal('hide');
        }
    }
});
</script>
