<!-- jQuery Version -->
<script src="{{ "/deps/jquery/jquery.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/deps/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->
<script src="{{ "/deps/jquery-easing-original/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/deps/AnimatedHeader/classie.js" | prepend: site.baseurl }}"></script>
<script>
    // adapt classie
    $('.navbar-fixed-top').addClass('cbp-af-header');
    var removeOrig = classie.remove;
    var addOrig = classie.add;
    classie.remove = function(elem, c) {
        if (c == 'cbp-af-header-shrink') {
            removeOrig(elem, 'navbar-shrink');
        }
        removeOrig(elem, c);
    };
    classie.add = function(elem, c) {
        if (c == 'cbp-af-header-shrink') {
            addOrig(elem, 'navbar-shrink');
        }
        addOrig(elem, c);
    };
</script>

<script src="{{ "/deps/AnimatedHeader/cbpAnimatedHeader.min.js" | prepend: site.baseurl }}"></script>
<!-- Contact Form JavaScript -->
<script src="{{ "/deps/jqBootstrapValidation/jqBootstrapValidation.min.js" | prepend: site.baseurl }}"></script>
<script>
    // adapt jqBootstrapValidation
    $(".form-group").addClass(".control-group")
</script>

<script src="{{ "/deps/startbootstrap-agency/contact_me.js" | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/deps/startbootstrap-agency/agency.js" | prepend: site.baseurl }}"></script>
<script>
$('div.modal').on('show.bs.modal', function() {
    var modal = this;
    var hash = modal.id;
    window.location.hash = hash;
    window.onhashchange = function() {
        if (!location.hash){
            $(modal).modal('hide');
        }
    }
});
</script>
