<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->
{% for item in collection %}
<div class="portfolio-modal modal fade" id="portfolioModal{{ item.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>{{ item.title }}</h2>
                        <p class="item-intro text-muted">{{ item.subtitle }}</p>
                        <img class="img-responsive img-centered" src="img/portfolio/{{ item.img }}" alt="{{ item.alt }}">
                        <p>{{ item.description }}</p>
                        <p>{{ item.description2 }}</p>
                        {% if item.project-date or item.client %}
                        <ul class="list-inline">
                            {% if item.project-date %}
                            <li>Date: {{ item.project-date }}</li>
                            {% endif %}
                            {% if item.client %}
                            <li>Client: {{ item.client }}</li>
                            {% endif %}
                            {% if item.category %}
                            <li>Category: {{ item.category }}</li>
                            {% endif %}
                        </ul>
                        {% endif %}
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
